@font-face 
  font-family: 'Intro-Bold'
  src: url('../fonts/Intro-Bold.woff') format("woff")

@font-face 
  font-family: 'Intro-Regular'
  src: url('../fonts/Intro-Regular.woff') format("woff")

@font-face 
  font-family: 'Intro-Regular-Alt'
  src: url('../fonts/Intro-Regular-Alt.woff') format("woff")

@font-face 
  font-family: 'OpenSans-Light'
  src: url('../fonts/OpenSans-Light.woff') format("woff")

@font-face 
  font-family: 'Intro-Light'
  src: url('../fonts/Intro-Light.woff') format("woff")

@font-face 
  font-family: 'OpenSans-Bold'
  src: url('../fonts/OpenSans-Bold.woff') format("woff")

@font-face 
  font-family: 'OpenSans-Regular'
  src: url('../fonts/OpenSans-Regular.woff') format("woff")

color_headerTop_footerFloor = linear-gradient(to right, #e23760 0%, #f85980 100%)
color_headerNav_icon = linear-gradient(to right top, #1bbdce 0%, #21d0e2 100%)
font_1 = 'Intro-Bold'
font_2 = 'Intro-Regular'
font_3 = 'Intro-Regular-Alt'
font_4 = 'OpenSans-Light'
font_5 = 'Intro-Light'
font_6 = 'OpenSans-Bold'
font_7 = 'OpenSans-Regular'

body
  margin: 0
  padding: 0
  font-family: Arial, sans-serif
  font-size: 13px
  background:  #ffffff
h2
  font-family: font_3
  font-size: 34px
  font-weight: 100

a 
  color: inherit
  text-decoration: none

li
  list-style: none

.wrapper
  width: 1600px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

.visuallyHidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  border: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

//------------------------------- header ---------------------------

.header
  width: 978px
  display: flex
  flex-direction: column
.headerTop__background
  width: 1600px
  height: 50px
  position: absolute
  top: 0
  left: -311px
  z-index: -100
  background: color_headerTop_footerFloor
  
//------------------------------- headerTop

.headerTop
  position: relative
  height: 50px
  display: flex
  justify-content: flex-start
  align-items: center
  color: white

.headerTop__orderCall,
.headerTop__schedule
  span
    display: block
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
  a
    height: 50px
    width: 230px
    display: inline-block
    font-size: 12px
    letter-spacing: 0.3px
    font-family: font_2
    text-transform: uppercase
    background-color: #ce375b

.headerTop__orderCall
  span
    padding-top: 12px
    padding-left: 30px
    &::before
      width: 32px
      height: 32px
      margin-top: -4px
      margin-right: 14px
      background-image: url('../img/header/headerTop_phone.png')

.headerTop__schedule
  span
    padding-top: 14px
    padding-left: 19px
    &::before
      width: 27px
      height: 29px
      margin-top: -4px
      margin-right: 14px
      background-image: url('../img/header/headerTop_calendar.png')

.schedule_mod
  span
    &::before
      width: 34px
      height: 35px
      margin-top: -10px
      margin-right: 8px
      background-image: url('../img/header/headerTop_calendar_mod.png')

.headerTop__phone
  a
    color: #fa8da7
    font-size: 14px
  span
    font-size: 20px
    font-family: font_1
    color: white
  &.phone1  
    width: 230px
    margin-right: 30px
    text-align: right 
  &.phone2
    width: 230px
    margin-left: 30px

//------------------------------- headerNav

.headerNav
  height: 142px
  display: flex
  justify-content: space-between
  margin-top: 37px
  color: white

.headerNav__nav
  display: flex
  padding-bottom: 33px
  ul
    width: 760px
    margin: 0
    padding: 0
    display: flex
    align-items: flex-end
    margin-left: 62px

.headerNav__item
  font-size: 12px
  letter-spacing: 0.3px
  font-family: font_2
  text-transform: uppercase
  color: #5b5b5b
  img
    vertical-align: middle
  a
    min-width: 152px
    display: block
    position: relative
    text-align: center 
    &::before
      content: ''
      width: 50px
      height: 10px
      transition: all 0.2s ease
      border-radius: 50%
      position: absolute
      top: 58px
      left: 50%
      margin-left: -25px      
      z-index: -1      
      background: linear-gradient(to top, #dddddd 0%, #ebebeb 100%)
  &:nth-child(2)
    .headerNav_icon
      line-height: 55px
  &:hover
    a
      color: #e34168
      &::before
        width: 41px;
        height: 8px;
        margin-left: -20.5px;
    .headerNav_icon
      top: -20px
      background: linear-gradient(to right top, #e23861 0%, #f6567d 100%)

.headerNav_icon
  width: 60px
  height: 60px  
  display: block  
  text-align: center 
  position: relative
  transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55)
  top: 0
  margin: auto
  margin-bottom: 20px
  border-radius: 50%
  line-height: 60px
  background: color_headerNav_icon
//------------------------------- main ---------------------------
main
  display: flex
  flex-direction: column
  align-items: center

//------------------------------- slider

.slider__wrapper
  position: relative

.slider__img
  display: none

.slider__img-selected
  display: block

.slider__info  
  width: 320px
  height: 227px
  position: absolute
  top: 91px
  left: -20px
  padding: 0 38px
  opacity: 0.95
  color: white  
  background-color: #e23760
  h2
    letter-spacing: 0px
    line-height: 40px
    margin-bottom: 0px
  p
    font-size: 14px
    font-family: font_4
    margin: 12px 0
    line-height: 20px

.slider__info
  a
    width: 30px
    height: 50px
    display: inline-block
    position: relative
    &::before
      content: ""
      width: 11px
      height: 26px
      position: absolute
      left: 50%
      top: 50%

.slider__prev
  &::before
    background: url(../img/main/slider/slider_prev.png)
    margin-left: -11px
    margin-top: -16px

.slider__next
  &::before
    background: url(../img/main/slider/slider_next.png)
    margin-left: -15px
    margin-top: -16px

//------------------------------- events

.events
  width: 1600px
  height: 450px
  display: flex
  flex-direction: column
  align-items: center
  position: relative                //Для динамичности лыжника
  z-index: -5
  background: url(../img/main/events/flag.png) no-repeat 296px 146px,
              url(../img/main/events/flag.png) no-repeat 676px 122px,
              url(../img/main/events/flag.png) no-repeat 1044px 99px,
              url(../img/main/events/background_mountains.png) no-repeat 0px -114px
  h2
    color: #626161
    padding-top: 11px

.events__wrapper
  width: 978px
  height: 330px
  display: flex
  justify-content: flex-start
  .events__item
    width: 326px
    display: flex
    flex-direction: column
    position: relative            //Для выравнивания span с датой и правой ножки флага
    color: white
    transform: skewY(-10deg)
    &::after                      //Для отображения правой ножки флага перед лыжником
      content: ""
      width: 4px
      height: 190px
      background-color: #d0d0d0
      position: absolute
      z-index: 2000
  a
    width: 205px
    height: 80px 
    display: flex 
    justify-content: center
    align-items: center
    text-align: center
    font-size: 18px
    font-family: font_2
  span
    width: 40px
    height: 40px
    display: block
    position: absolute
    font-size: 30px
    font-weight: 100
    font-family: font_1
  .item1                  //-------- Первый флаг
    margin-top: 20px
    span
      top: 9px
      left: -6px
    a
      margin-top: 49px
      margin-left: 11px
    &::after
      top: 130px
      left: 219px
  .item2                  //-------- Второй флаг
    margin-left: 93px
    span
      top: 12px
      left: 35px
    a
      margin-top: 53px
      margin-left: 45px
    &::after
      top: 132px
      left: 258px
  .item3                  //-------- Третий флаг
    margin-left: 140px
    span
      top: -15px
      left: 11px
    a
      margin-top: 25px
      margin-left: 29px
    &::after
      top: 109px
      left: 236px

.events__skier            //-------- Лыжник
  width: 181px
  height: 144px
  position: absolute
  top: 245px
  // left: 810px
  z-index: -10
  background: url(../img/main/events/skier.png) no-repeat
  left: 100%
.events__skier--active            //-------- Лыжник катится вниз
  left: -10%
  top: 335px
  transition: left 6s, top 6s
  transition-timing-function: linear

//------------------------------- calc

.calc
  color: white
  display: flex
  flex-direction: column
  text-align: center

.calc__title
  color: #626161
  h2
    margin: 20px 0 5px 0
  p
    margin: 0 0 40px 0
    font-size: 22px
    font-family: font_5

.calc__calcField
  width: 978px
  height: 396px
  padding: 20px 55px
  box-sizing: border-box
  background-color: #1dc2dc

.options__label,
.sex__labelWho,
.body__labelWhich
  width: 200px
  font-size: 18px
  font-family: font_2

.sex__labelWho,
.body__labelWhich
  display: flex
  justify-content: flex-end
  align-items: center
  padding-right: 12px

.sex__inputRadio,
.body__inputRadio
  visibility: hidden
  position: absolute

.sex__labelRadio,
.body__labelRadio
  display: flex
  justify-content: center
  align-items: center
  width: 176px
  height: 36px
  border: 2px solid #41edff
  border-radius: 50px
  font-size: 13px
  font-family: font_6
  &.label2
    margin: 0 20px
  &:hover
    background: #41edff
    cursor: pointer

.calc__options
  display: flex
  align-items: flex-start
  padding: 28px 96px 0 111px
  .options__label
    display: flex
    justify-content: flex-end
    align-items: baseline
  .options__input
    width: 80px
    height: 39px
    text-align: center
    margin: 0 12px
    border: 0
    border-radius: 3px
    color: white
    font-size: 16px
    font-family: font_6
    box-shadow: 0 0 1px 2px #0d9bbd inset
    background: #12a9c4
    &:focus
      outline: none

.calc__sex
  display: flex
  padding: 42px 5px 0 7px

.calc__body
  display: flex
  padding: 40px 5px 0 7px

.calc__sex .sex__inputRadio:checked + label,
.calc__body .body__inputRadio:checked + label
  background: #fff
  color: #1dc2dc
  border: 2px solid #fff

.calc__button
  width: 251px
  height: 55px
  margin-top: 38px
  border: 2px solid #fff
  border-radius: 2px
  background: #1bbbd9
  color: #fff
  font-size: 22px
  font-family: font_3

//------------------------------- footer

footer
  display: flex
  flex-direction: column
  align-items: center

//------------------------------- footerInfo

.footerInfo
  width: 1600px
  display: flex
  position: relative
  justify-content: center
  font-size: 14px
  font-family: font_7
  background: radial-gradient(at 50% 100%, #e0f1f3, #fff 70%)
.footerInfo__walkingMan            //-------- Идущий человек
  width: 200px
  position: absolute
  z-index: 100
  left: 0%
  bottom: -15%
  transition-duration: 10s
.footerInfo__walkingMan--active_right            //-------- Идет по направлению направо
  left: 90%
  transition: left 10s
  transition-timing-function: linear
.footerInfo__walkingMan--active_left            //-------- Идет по направлению налево
  left: -4%  
  transform: scale(-1, 1)
  transition: transform 0.05s, left 10s
  transition-timing-function: linear
.footerInfo__title
  line-height: 28px
  font-size: 20px
  font-family: font_2
.footerInfo__meter,
.footerInfo__calorie
  line-height: 22px
  color: #1bbbd9
  font-size: 20px
  font-family: font_1
.footerInfo__stand
  margin-top: 48px
  margin-bottom: 80px
  position: relative
  border-radius: 3px
  background: white
  box-shadow: 0 26px 59px 0 rgba(235, 246, 246, 0.75) 
  &::after, &::before                      //Для отображения правой ножки стойки идущего человека
    content: ""
    width: 10px
    height: 78px
    position: absolute
    top: 100%
    left: 49px
    background-color: #d0d0d0
    background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%)
  &::before
    left: 311px 

.footerInfo__standBorder
  width: 347px
  margin: 5px 5px
  padding: 8px 0px 14px 3px
  display: flex
  justify-content: center
  color: #626161
  border-radius: 3px
  border: 5px solid #d3eff2
  p
    width: 345px
    padding-left: 32px 

//------------------------------- footerFloor
.footerFloor
  width: 1600px
  height: 200px
  display: flex
  justify-content: center
  color: white
  font-size: 13px
  font-family: font_7
  background: color_headerTop_footerFloor
  p
    margin: 0 0 7px 0
  .footerFloor__contact,
  .footerFloor__mode
    margin-top: 43px
  .contact__copyright,
  .mode__title
    margin: 0
    margin-bottom: 14px
    display: block
    font-size: 18px
    font-weight: 400
    font-family: font_2
  .contact__copyright
    margin-left: -15px
  .footerFloor__restInfo
    margin-top: 48px

.footerFloor__wrapper
  width: 978px
  display: flex
  justify-content: space-between

.footerFloor__mode
  padding-right: 57px

.contact__phone,
.mode__time
  font-family: font_6

.socialNet__list
  width: 240px
  margin: 0
  padding: 0
  display: flex
  justify-content: space-between 

.socialNet__link
  width: 46px
  height: 46px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  background-color: #e33861  

.restInfo__rule
  padding-top: 37px
  padding-left: 3px
  font-size: 10px
  font-family: font_7
  .rule__title
    font-size: 12px
    font-family: font_6