@font-face {
  font-family: 'Intro-Bold';
  src: url("../fonts/Intro-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Intro-Regular';
  src: url("../fonts/Intro-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Intro-Regular-Alt';
  src: url("../fonts/Intro-Regular-Alt.woff") format("woff");
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'Intro-Light';
  src: url("../fonts/Intro-Light.woff") format("woff");
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #fff;
}
h2 {
  font-family: 'Intro-Regular-Alt';
  font-size: 34px;
  font-weight: 100;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  width: 978px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerTop__background {
  width: 1600px;
  height: 50px;
  position: absolute;
  top: 0;
  left: -311px;
  z-index: -100;
  background: -webkit-gradient(linear, left top, right top, from(#e23760), to(#f85980));
  background: linear-gradient(to right, #e23760 0%, #f85980 100%);
}
.headerTop {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.headerTop__orderCall span,
.headerTop__schedule span {
  display: block;
}
.headerTop__orderCall span::before,
.headerTop__schedule span::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.headerTop__orderCall a,
.headerTop__schedule a {
  height: 50px;
  width: 230px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-family: 'Intro-Regular';
  text-transform: uppercase;
  background-color: #ce375b;
}
.headerTop__orderCall span {
  padding-top: 12px;
  padding-left: 30px;
}
.headerTop__orderCall span::before {
  width: 32px;
  height: 32px;
  margin-top: -4px;
  margin-right: 14px;
  background-image: url("../img/header/headerTop_phone.png");
}
.headerTop__schedule span {
  padding-top: 14px;
  padding-left: 19px;
}
.headerTop__schedule span::before {
  width: 27px;
  height: 29px;
  margin-top: -4px;
  margin-right: 14px;
  background-image: url("../img/header/headerTop_calendar.png");
}
.schedule_mod span::before {
  width: 34px;
  height: 35px;
  margin-top: -10px;
  margin-right: 8px;
  background-image: url("../img/header/headerTop_calendar_mod.png");
}
.headerTop__phone a {
  color: #fa8da7;
  font-size: 14px;
}
.headerTop__phone span {
  font-size: 20px;
  font-family: 'Intro-Bold';
  color: #fff;
}
.headerTop__phone.phone1 {
  width: 230px;
  margin-right: 30px;
  text-align: right;
}
.headerTop__phone.phone2 {
  width: 230px;
  margin-left: 30px;
}
.headerNav {
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
  color: #fff;
}
.headerNav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 33px;
}
.headerNav__nav ul {
  width: 760px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 62px;
}
.headerNav__item {
  font-size: 12px;
  letter-spacing: 0.3px;
  font-family: 'Intro-Regular';
  text-transform: uppercase;
  color: #5b5b5b;
}
.headerNav__item img {
  vertical-align: middle;
}
.headerNav__item a {
  min-width: 152px;
  display: block;
  position: relative;
  text-align: center;
}
.headerNav__item a::before {
  content: '';
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;
  position: absolute;
  top: 58px;
  left: 50%;
  margin-left: -25px;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#ebebeb));
  background: linear-gradient(to top, #ddd 0%, #ebebeb 100%);
}
.headerNav__item:nth-child(2) .headerNav_icon {
  line-height: 55px;
}
.headerNav__item:hover a {
  color: #e34168;
}
.headerNav__item:hover a::before {
  width: 41px;
  height: 8px;
  margin-left: -20.5px;
}
.headerNav__item:hover .headerNav_icon {
  top: -20px;
  background: -webkit-gradient(linear, left bottom, right top, from(#e23861), to(#f6567d));
  background: linear-gradient(to right top, #e23861 0%, #f6567d 100%);
}
.headerNav_icon {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
  top: 0;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  line-height: 60px;
  background: -webkit-gradient(linear, left bottom, right top, from(#1bbdce), to(#21d0e2));
  background: linear-gradient(to right top, #1bbdce 0%, #21d0e2 100%);
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__wrapper {
  position: relative;
}
.slider__img {
  display: none;
}
.slider__img-selected {
  display: block;
}
.slider__info {
  width: 320px;
  height: 227px;
  position: absolute;
  top: 91px;
  left: -20px;
  padding: 0 38px;
  opacity: 0.95;
  color: #fff;
  background-color: #e23760;
}
.slider__info h2 {
  letter-spacing: 0px;
  line-height: 40px;
  margin-bottom: 0px;
}
.slider__info p {
  font-size: 14px;
  font-family: 'OpenSans-Light';
  margin: 12px 0;
  line-height: 20px;
}
.slider__info a {
  width: 30px;
  height: 50px;
  display: inline-block;
  position: relative;
}
.slider__info a::before {
  content: "";
  width: 11px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.slider__prev::before {
  background: url("../img/main/slider/slider_prev.png");
  margin-left: -11px;
  margin-top: -16px;
}
.slider__next::before {
  background: url("../img/main/slider/slider_next.png");
  margin-left: -15px;
  margin-top: -16px;
}
.events {
  width: 1600px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -5;
  background: url("../img/main/events/flag.png") no-repeat 296px 146px, url("../img/main/events/flag.png") no-repeat 676px 122px, url("../img/main/events/flag.png") no-repeat 1044px 99px, url("../img/main/events/background_mountains.png") no-repeat 0px -114px;
}
.events h2 {
  color: #626161;
  padding-top: 11px;
}
.events__wrapper {
  width: 978px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.events__wrapper .events__item {
  width: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #fff;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
}
.events__wrapper .events__item::after {
  content: "";
  width: 4px;
  height: 190px;
  background-color: #d0d0d0;
  position: absolute;
  z-index: 2000;
}
.events__wrapper a {
  width: 205px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Intro-Regular';
}
.events__wrapper span {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Intro-Bold';
}
.events__wrapper .item1 {
  margin-top: 20px;
}
.events__wrapper .item1 span {
  top: 9px;
  left: -6px;
}
.events__wrapper .item1 a {
  margin-top: 49px;
  margin-left: 11px;
}
.events__wrapper .item1::after {
  top: 130px;
  left: 219px;
}
.events__wrapper .item2 {
  margin-left: 93px;
}
.events__wrapper .item2 span {
  top: 12px;
  left: 35px;
}
.events__wrapper .item2 a {
  margin-top: 53px;
  margin-left: 45px;
}
.events__wrapper .item2::after {
  top: 132px;
  left: 258px;
}
.events__wrapper .item3 {
  margin-left: 140px;
}
.events__wrapper .item3 span {
  top: -15px;
  left: 11px;
}
.events__wrapper .item3 a {
  margin-top: 25px;
  margin-left: 29px;
}
.events__wrapper .item3::after {
  top: 109px;
  left: 236px;
}
.events__skier {
  width: 181px;
  height: 144px;
  position: absolute;
  top: 245px;
  z-index: -10;
  background: url("../img/main/events/skier.png") no-repeat;
  left: 100%;
}
.events__skier--active {
  left: -10%;
  top: 335px;
  -webkit-transition: left 6s, top 6s;
  transition: left 6s, top 6s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.calc {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.calc__title {
  color: #626161;
}
.calc__title h2 {
  margin: 20px 0 5px 0;
}
.calc__title p {
  margin: 0 0 40px 0;
  font-size: 22px;
  font-family: 'Intro-Light';
}
.calc__calcField {
  width: 978px;
  height: 396px;
  padding: 20px 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1dc2dc;
}
.options__label,
.sex__labelWho,
.body__labelWhich {
  width: 200px;
  font-size: 18px;
  font-family: 'Intro-Regular';
}
.sex__labelWho,
.body__labelWhich {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
}
.sex__inputRadio,
.body__inputRadio {
  visibility: hidden;
  position: absolute;
}
.sex__labelRadio,
.body__labelRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
  height: 36px;
  border: 2px solid #41edff;
  border-radius: 50px;
  font-size: 13px;
  font-family: 'OpenSans-Bold';
}
.sex__labelRadio.label2,
.body__labelRadio.label2 {
  margin: 0 20px;
}
.sex__labelRadio:hover,
.body__labelRadio:hover {
  background: #41edff;
  cursor: pointer;
}
.calc__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 28px 96px 0 111px;
}
.calc__options .options__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.calc__options .options__input {
  width: 80px;
  height: 39px;
  text-align: center;
  margin: 0 12px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-family: 'OpenSans-Bold';
  -webkit-box-shadow: 0 0 1px 2px #0d9bbd inset;
          box-shadow: 0 0 1px 2px #0d9bbd inset;
  background: #12a9c4;
}
.calc__options .options__input:focus {
  outline: none;
}
.calc__sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 5px 0 7px;
}
.calc__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 5px 0 7px;
}
.calc__sex .sex__inputRadio:checked + label,
.calc__body .body__inputRadio:checked + label {
  background: #fff;
  color: #1dc2dc;
  border: 2px solid #fff;
}
.calc__button {
  width: 251px;
  height: 55px;
  margin-top: 38px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: #1bbbd9;
  color: #fff;
  font-size: 22px;
  font-family: 'Intro-Regular-Alt';
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerInfo {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  background: radial-gradient(at 50% 100%, #e0f1f3, #fff 70%);
}
.footerInfo__walkingMan {
  width: 200px;
  position: absolute;
  z-index: 100;
  left: 0%;
  bottom: -15%;
  -webkit-transition-duration: 10s;
          transition-duration: 10s;
}
.footerInfo__walkingMan--active_right {
  left: 90%;
  -webkit-transition: left 10s;
  transition: left 10s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.footerInfo__walkingMan--active_left {
  left: -4%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: left 10s, -webkit-transform 0.05s;
  transition: left 10s, -webkit-transform 0.05s;
  transition: transform 0.05s, left 10s;
  transition: transform 0.05s, left 10s, -webkit-transform 0.05s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.footerInfo__title {
  line-height: 28px;
  font-size: 20px;
  font-family: 'Intro-Regular';
}
.footerInfo__meter,
.footerInfo__calorie {
  line-height: 22px;
  color: #1bbbd9;
  font-size: 20px;
  font-family: 'Intro-Bold';
}
.footerInfo__stand {
  margin-top: 48px;
  margin-bottom: 80px;
  position: relative;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 26px 59px 0 rgba(235,246,246,0.75);
          box-shadow: 0 26px 59px 0 rgba(235,246,246,0.75);
}
.footerInfo__stand::after,
.footerInfo__stand::before {
  content: "";
  width: 10px;
  height: 78px;
  position: absolute;
  top: 100%;
  left: 49px;
  background-color: #d0d0d0;
  background: -webkit-gradient(linear, left top, right top, from(#abbbbd), to(#c4d4d6));
  background: linear-gradient(to right, #abbbbd 0%, #c4d4d6 100%);
}
.footerInfo__stand::before {
  left: 311px;
}
.footerInfo__standBorder {
  width: 347px;
  margin: 5px 5px;
  padding: 8px 0px 14px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #626161;
  border-radius: 3px;
  border: 5px solid #d3eff2;
}
.footerInfo__standBorder p {
  width: 345px;
  padding-left: 32px;
}
.footerFloor {
  width: 1600px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 13px;
  font-family: 'OpenSans-Regular';
  background: -webkit-gradient(linear, left top, right top, from(#e23760), to(#f85980));
  background: linear-gradient(to right, #e23760 0%, #f85980 100%);
}
.footerFloor p {
  margin: 0 0 7px 0;
}
.footerFloor .footerFloor__contact,
.footerFloor .footerFloor__mode {
  margin-top: 43px;
}
.footerFloor .contact__copyright,
.footerFloor .mode__title {
  margin: 0;
  margin-bottom: 14px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Intro-Regular';
}
.footerFloor .contact__copyright {
  margin-left: -15px;
}
.footerFloor .footerFloor__restInfo {
  margin-top: 48px;
}
.footerFloor__wrapper {
  width: 978px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerFloor__mode {
  padding-right: 57px;
}
.contact__phone,
.mode__time {
  font-family: 'OpenSans-Bold';
}
.socialNet__list {
  width: 240px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.socialNet__link {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #e33861;
}
.restInfo__rule {
  padding-top: 37px;
  padding-left: 3px;
  font-size: 10px;
  font-family: 'OpenSans-Regular';
}
.restInfo__rule .rule__title {
  font-size: 12px;
  font-family: 'OpenSans-Bold';
}
